.git*
*.png
/logo
*.sublime*
.DS_Store
node_modules
npm-debug.log
*.coffee
/dockertests
/test
*.yml
coffeelint.json
.editorconfig
coverage/
.nyc_output/
lcov.info
/bench
/src
/lib
/_src
tsconfig.build.json
tsconfig.json
/.local
/docs
index.js
index.d.ts
CONTRIBUTING.md
MAINTENANCE.md
RELEASE_POLICY.md
